<html>
<link rel=stylesheet href='{{root}}/static/navigation_bar.css' type='text/css'>
{% block css %}
{% endblock %}
<head>
{% block head %}
{% endblock %}
</head>
	<body>
<ul id='menu_wrap' class='l_blue'>
  <li><a href="{{root}}/index">Home of {{username}}</a></li>
  <li><a href='{{root}}/iid/new_iid'>Add new field</a></li>
  <li><a href='{{root}}/iid/list_iids'>List fields</a></li>
  <li><a href='{{root}}/logout'>logout</a></li>
</ul>
{% block body %}
{% endblock %}
</body>
</html>
